<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='output.css') }}">
    <title>FlaskApp</title>
</head>
<body>

    <nav class="w-full bg-white drop-shadow-sm sticky top-0 z-10">
        <div class="xl:container xl:mx-auto md:px-20 sm:px-10 px-4 py-6 sm:py-4 flex flex-no-wrap relative items-center justify-between">
          <a href="{{ url_for('index') }}" class="text-teal-700 text-2xl font-bold"><h1>AI Writing Headlines</h1></a>
  
          <div class="">
              <!-- <a class="mr-4 text-slate-400 hover:text-slate-600 current:text-slate-900" href="{{ url_for('index')}}">Home</a> -->
              <a class="mr-4 text-slate-400 hover:text-slate-600 current:text-slate-900" href="{{ url_for('about') }}">About</a>
          </div>

        </div>
    </nav>
 
    <div class="xl:container xl:mx-auto md:p-20 sm:p-10 p-4">

        {% block content %} {% endblock %} 

    </div>

</body>
</html>

