{% extends 'base.html' %}

{% block content %}

    {#bg-[url('https://replicate.delivery/pbxt/62AKgw5SGTLwA9NKBQ2DPYdrRX66g8uDnGyPH6qCO0FnufIJA/out-0.png')]#}

    <div class="absolute top-0 h-screen w-full flex flex-col justify-center items-center text-center bg-gradient-to-bl from-sky-500 from-10% via-indigo-600 via-30% via-indigo-500 via-70% to-indigo-800 to-90%">
      <h1 class="w-2/3 text-white text-5xl md:text-6xl font-bold mb-4">AI-Generated News From The Future<span class="text-xl align-super text-white/50">*</span></h1>
      <p class="text-white/30 text-sm mb-10">*Not actually from the future, just AI-generated really. </p>
      <a href="/news" class="text-indigo-600 font-semibold bg-white hover:bg-indigo-200 transition-colors duration-100 py-2 px-5 rounded-full">Read more</a>
    </div>

{% endblock %}