{% extends 'base.html' %}

{% block content %}

<div class="xl:container xl:mx-auto p-20 ">

    <!-- For loop here -->

    <div class="flex flex-row">

        <div class="">
            <img src="{{ imgLink | default('No image available') }}" class="post-img align-items-center h-96">
        </div>
        
        <div class="flex-1 flex flex-col justify-center ml-12">
            <p class="text-slate-700 text-5xl font-bold mb-12">{{ textAnswer[0] | default('No text available') }}</p>
            <p class="text-lg">{{ textAnswer[1] | default('No text available') }}</p>
        </div>
        
    </div>

</div>

{% endblock %}